.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 20px;
  pointer-events: none;
}

.cards:hover .card {
  opacity: 0.5;
}

.cards:hover .card:hover {
  background-color: #ffc942;
  opacity: 1;
  transform: scale(1.15);
}
